*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: rgb(34,193,195);
  background: linear-gradient(135deg, rgba(34,193,195,1) 0%,     rgba(253,187,45,1) 100%);
}

.date-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 3rem;
}
.App{
  margin-top: 2rem;
  height: auto;
  width: 500px;
  border: 2px solid red;
  border-radius: 20px;
  background-color: aquamarine;
}